@mixin navTextColor () {
    font-family: 'Merriweather Sans';
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: $navTopTextColor;
}

@mixin linkTextStyle ($color) {
    font-family: 'Merriweather Sans';
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color;
}

@mixin arrowCircled ($width, $height, $padding) {
    padding: 15px 18px;
    width: 12px;
    height: 18px;
    background-color: rgba(224, 224, 224, 0.0);
    border: 3px solid #ffffff;
    border-radius: 50%;

    &:hover {
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        filter: invert(50%);
    }
}

@mixin hoverCategories () {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    box-shadow: 0px 0px 5px 5px #7e7e7e;
    transform: scale(1.01);
}